# Питон
__pycache__/
*.py[cod]
*$py.class

# Среды
env/
venv/
ENV/
env.bak/
venv.bak/

# Данные
*.sqlite3
*.db

# Логи
*.log

# Пакеты
*.egg
*.egg-info/
dist/
build/
.eggs/

# Конфигурации IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Другие
*.DS_Store
*.coverage
*.cover
*.pyo
